 <mat-card  *ngIf="user">
   
   <!-- {{user | json}} -->
    <div class="container text-center">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div class="mat-title">Profile Details</div>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH4Ui8-aKNWj9bB8P5rLObzIRt30lQ-wpIOg&usqp=CAU"
            class="profile_pic"
          />
          <div class="mat-headline">
            {{user.firstName}}{{user.lastName}}
        </div>
          <mat-card class="text-center">
            <table class="table text-center">
              <tr>
                <th>Username</th>
                <td>
                  {{ user.username }}
                </td>
              </tr>
              <tr>
                <th>UserID</th>
                <td>{{ user.id }}</td>
              </tr>
              <tr *ngIf="user.phone">
                <th>Phone</th><td>
                    {{ user.phone }}
                  </td>
                </tr>
                <tr>
                  <th>Role</th>
                  <td>
                    {{ user.authorities[0].authority }}
                  </td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td>
                    {{ user.enabled ? "Active" : "Non Active" }}
                  </td>
                </tr>
              </table>
            <mat-card-actions >
                <div ><button mat-raised-button color="primary" class="btn ml230">UPDATE</button></div>
            </mat-card-actions>
              
            </mat-card>
          </div>
        </div>
    </div>
</mat-card>